@charset 'utf-8';

html{
    width: 100%;
    font-family: 'BIZ UDPGothic';
}

body{
    text-align: center;
}

header{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user{
    margin: 0 0 0 auto;
}

li {
    list-style-type: none;
}

