@charset 'utf-8';

button,
input[type="submit"] {
    height: 50px;
    min-width: 120px;     
    font-size: 1rem;
    padding: 0 16px;
    margin-top: 10px;
    border-radius: 5px;   
    background-color: white;
    border-width: 1px;
    box-sizing: border-box;
}

button:hover,
input[type="submit"]:hover{
    background-color: #00ff2f;
    cursor: pointer;
}