{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <h1>出席管理アプリ</h1>
        <h3 class="user">{% block user %}{% endblock %}</h3>
    </header>
    {% block body %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>