{% extends "base.html" %}
{% load static %}
{% block user %}{{user}}でログイン中{% endblock %}
{% block title %}出席{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "css/Attend.css" %}">{% endblock css %}
{% block body %}
{% if user.is_authenticated %}
<div class="main">
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
{% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="出席">
    <a href="{% url "logout" %}"><button type="button">ログアウト</button></a>
</form>
{% endif %}

<h3>本日の打刻記録</h3>
{% for data in AttendanceRecord %}
{% comment %} {{data.student}} {% endcomment %}
{{data.period}}
{{data.time}}
<br>
{% endfor %}
</div>
{% endblock body %}