{% extends "base.html" %}
{% block user %}{{user}}でログイン中{% endblock %}
{% block title %}ホーム{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<table>
    <tr>
        <th>教科名</th>
        <th>講師名</th>
        <th>教室</th>
    </tr>
    {% for data in Subject %}
    <tr>
        <td>{{data.subject_name}}</td>
        <td>{{data.charge_teacher}}</td>
        <td>
            {% if data.place is None %}
                未定
            {% else %}
                {{data.place}}
            {% endif %}
        </td>
        <td><a href="{% url "attendance:SubjectUpdateView" data.id %}"><button type="button">編集</button></a></td>
    </tr>
    {% endfor %}
</table>
<hr>
<table>
    <tr>
        <th></th>
        <th>月</th><th>火</th><th>水</th><th>木</th><th>金</th>
    </tr>
    {% for row in timetable %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% for subjects in row %}
                <td>
                    {% for data in subjects %}
                        <a href="{% url "attendance:PeriodUpdateView" data.id %}">{{ data.subject }}</a><br>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<a href="{% url 'attendance:SubjectCreateView' %}"><button type="button">教科新規登録</button></a><br>
<a href="{% url "attendance:PeriodCreateView" %}"><button type="button">時間割登録</button></a><br>
<a href="{% url 'logout' %}"><button type="button">ログアウト</button></a>
{% endif %}
{% endblock body %}
