{% extends "base.html" %}
{% block user %}{{user}}でログイン中{% endblock %}
{% block title %}{{object|yesno:'時間割更新,時間割登録'}}{% endblock %}
{% block body %}
<h1>{{object|yesno:'時間割更新,時間割登録'}}</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="{{object|yesno:'更新,作成'}}">
    <a href="{% url "attendance:ModelListView" %}"><button type="button">戻る</button></a>
    {% if object %} {% comment %}yesnoはテキストの切り替え専用らしいです{% endcomment %}
        <a href="{% url "attendance:PeriodDeleteView" object.id %}"><button type="button">削除</button></a>
    {% endif %}
</form>
{% endblock %}